.portfolio {
  display: flex;
  justify-content: center;
  padding: 0px 70px 125px;
}

.portfolio__container {
  width: 1140px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0;
}

.portfolio__list {
  margin: 0;
  padding: 50px 0 0;
  list-style: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;;
}

.portfolio__list-item {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 20px 0 19px;
  border-bottom: 1px #E6E6E6 solid;
}

.portfolio__list-item:first-of-type {
  padding-top: 0;
}

.portfolio__list-item:last-of-type {
  border-bottom: 1px solid #202020;
  padding-bottom: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-arrow {
  font-weight: 400;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .portfolio__container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__list {
    padding: 50px 0 0;
  }

  .portfolio__list {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  
  .portfolio__list {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}